@*@using App.Web.WebConfig.Consts*@
@model ProjectTeam.Web.Components.MainNavBar.NavBarViewModel
@{
	var currentControllerName = Context.Request.RouteValues["controller"].ToString();
	string href = "";
	string menuOpenClass = "";
	string activeClass = "";
	bool itemIsOpened;
}

<!-- ========== App Menu ========== -->
<div class="app-menu navbar-menu">
	<!-- LOGO -->
	<div class="navbar-brand-box">
		<!-- Dark Logo-->
		<a href="index.html" class="logo logo-dark">
			<span class="logo-sm">
				<img src="~/AdminTemplate/assets/images/logo-sm.png" alt="" height="22">
			</span>
			<span class="logo-lg">
				<img src="~/AdminTemplate/assets/images/logo-dark.png" alt="" height="17">
			</span>
		</a>
		<!-- Light Logo-->
		<a href="index.html" class="logo logo-light">
			<span class="logo-sm">
				<img src="~/AdminTemplate/assets/images/logo-sm.png" alt="" height="22">
			</span>
			<span class="logo-lg">
				<img src="~/AdminTemplate/assets/images/logo-light.png" alt="" height="17">
			</span>
		</a>
		<button type="button" class="btn btn-sm p-0 fs-20 header-item float-end btn-vertical-sm-hover"
				id="vertical-hover">
			<i class="ri-record-circle-line"></i>
		</button>
	</div>

	<div id="scrollbar">
		<div class="container-fluid">

			<div id="two-column-menu">
			</div>
			<ul class="navbar-nav" id="navbar-nav">
				<li class="menu-title"><span data-key="t-menu">Menu</span></li>
				@foreach (var item in Model.Items)
				{
					//if (!User.IsInPermission(item.Permission))
					//{
					//	continue;
					//}
					href = "#";
					if (!String.IsNullOrEmpty(item.Action + item.Controller))
					{
						href = Url.Action(item.Action, item.Controller);
					}
					menuOpenClass = "";
					activeClass = "";

					itemIsOpened = item.ChildrenItems != null && item.ChildrenItems.Any(i => i.CodePage == ViewBag.CodePage);
					if (itemIsOpened)
					{
						menuOpenClass = " show";
						activeClass = " active";
					}
					else if (item.Controller == currentControllerName && item.CodePage == ViewBag.CodePage)
					{
						activeClass = " active";
					}
					var collapse = "";
					var codePageSub = "";
					if (item.ChildrenItems != null)
					{
						codePageSub = item.ChildrenItems[0].CodePage;
						collapse = $"data-bs-toggle=collapse role=button aria-expanded=false aria-controls={codePageSub}";
					}
					if (!String.IsNullOrEmpty(codePageSub))
					{
						href += codePageSub;
					}
					<li class="nav-item">
						<a class="nav-link menu-link@(activeClass)" 
						   href="@href" @collapse>
							<i class="mdi @item.Icon"></i> <span data-key="t-widgets">@item.DisplayText</span>
						</a>
						@if (item.ChildrenItems != null)
						{
							<div class="collapse menu-dropdown @menuOpenClass" id="@codePageSub">
								<ul class="nav nav-sm flex-column">
									@foreach (var sub in item.ChildrenItems)
									{
										//if (!User.IsInPermission(sub.Permission))
										//{
										//	continue;
										//}
										activeClass = sub.CodePage == ViewBag.CodePage ? " active" : "";
										<li class="nav-item">
											<a asp-controller="@sub.Controller" asp-action="@sub.Action" 
											   class="nav-link@(activeClass)" data-key="@codePageSub">
												@sub.DisplayText
											</a>
										</li>
									}
								</ul>
							</div>
						}
					</li>
				}
			</ul>
		</div>
		<!-- Sidebar -->
	</div>

	<div class="sidebar-background"></div>
</div>
<!-- Left Sidebar End -->